@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}

:root {
  --fg-0: #fbf1c7;
  --fg-1: #ebdbb2;
  --fg-4: #a89984;
  --bg-4: #7c6f64;
  --bg-black: #1d2021;
}

h1 {
  @apply text-2xl font-semibold my-2;
}

h2 {
  @apply text-xl font-medium mt-1;
}

h3 {
   @apply font-medium mt-1;
}


p {
  @apply text-gray-900 leading-6 my-2;
}

pre {
  margin: 0;
}

code[class*="language-"],
pre[class*="language-"],
.rehype-code-title {
  font-family: Consolas, Monaco, "Andale Mono", monospace;
}

code[class*="language-"],
pre[class*="language-"] {
  color: var(--fg-1);
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  color: var(--fg-0);
  background-color: var(--bg-4);
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  color: var(--fg-0);
  background-color: #7c6f64;
}

/*  Code titles */
.rehype-code-title {
  @apply text-white bg-black p-2 rounded-t-md;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin-bottom: 0.5em;
  overflow: auto;
}

pre[class*="language-"] {
  @apply bg-slate-900 mb-2 rounded-md;
}

:not(pre) > code[class*="language-"],
.rehype-code-title + pre[class*="language-"] {
  @apply bg-slate-900 mb-2 rounded-none rounded-b-md;
}

/* Inline code */
:not(pre) > code {
  @apply bg-red-600 text-white rounded-md;
  padding: 2px;
}

.token.comment,
.token.prolog,
.token.cdata {
  color: var(--fg-4);
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
  color: #fb4934; /* red2 */
}

.token.operator,
.token.punctuation,
.token.attr-name {
  color: #a89984; /* fg4 / gray1 */
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
  @apply text-sky-400;
}

.token.entity,
.token.number,
.token.symbol {
  @apply text-pink-500;
}

.token.property,
.token.constant,
.token.variable {
  color: #fb4934; /* red2 */
}

.token.string,
.token.char {
  color: #b8bb26; /* green2 */
}

.token.attr-value,
.token.attr-value .punctuation {
  color: #a89984; /* fg4 / gray1 */
}

.token.url {
  color: #b8bb26; /* green2 */
  text-decoration: underline;
}

.token.function {
  color: #fabd2f; /* yellow2 */
}

.token.regex {
  background-color: #b8bb26; /* green2 */
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.inserted {
  background-color: #a89984; /* fg4 / gray1 */
}

.token.deleted {
  background-color: #fb4934; /* red2 */
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 16px;
  margin-left: -8px;
  color: rgb(156, 163, 175); /* Line number color */
  content: attr(line);
}

.toc {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background-color: #131212;
  color: var(--fg-0);

  ol {
    overflow-y: hidden;
  }

  &-level-2,
  &-level-3,
  &-level-4,
  &-level-5,
  &-level-6 {
    margin-left: 1rem;
  }
}
